<body class="main">
	<div class="main-div">
	<h1 class="main-title"> WELCOME TO OUR BOOK SHOPY! </h1>
	<p class="main-content">Login our page you get more details.Keep Visiting our page!</p>
	<%= button_to 'Get Started' ,root_path ,class: 'btn btn-primary main-btn' %>
</div>
</body>