body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vh;
    background-color: lightsteelblue;
}
ul{
    margin: 0;
}
.navbar{
    background-color: darkgray;
    padding: 1em;
}
.link{
    text-decoration: none;
}
.navbar ul li{
    color:white;
    display: inline-block;
    background-color: darkgray;
    list-style: none;
    margin-right: 3rem;
}
.navbar ul li:hover{
    color: rgba(0, 0, 0, 0.5);
}
.container{
    box-shadow: 2px lightgrey;
    padding: 2em;
    margin: 0 auto;
    width: 100vh;
}
.form{
    margin: 0 auto;
    padding: 2em;
    box-shadow: 5px lightgrey;
}