body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.nav-link {
  color: white;
  text-decoration: none;
}
.nav-link:hover{
  color:whitesmoke;
  text-decoration: none;
}
.navbar li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem ;
}

.navbar li:hover {
  background-color: #111;
  color:white;
}
.form-label{
  color:black;
  font-weight: bold;
  fonr-size: 2rem;
}
.form-control{
  font-size: 2rem;
}
.card{
  border: 5px outset;
  padding: 2em;
  width: 50vw;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.card-items{
  font-size: 2rem;
}
.error{
  color: red;
  font-size: 2rem;
}
.row{
  font-size: 2rem;
  padding: 3em;
  background-color: white;
  border-radius: 20px;
  margin:0 auto;
  width: 50%;
}
.col{
  padding: 1.2em;
  font-size: 2rem;
}
.btn{
  font-size: 2rem;
  border-radius: 5px;
}
h1{
  color: red;
  text-align: center;
}
.btn-form{
  float: center;
}
table,th{
  text-align: center;
  padding: 2em;
}
.table-dark{
  text-align: center;
  background-color: black;
  color: white;
}
.card-body{
  font-size: 2rem;
  padding:1.4em;
}
.signin-form{
  border-radius: 15px;
  margin: 3em auto;
  border: 2px solid lightgrey;
  padding: 1.5rem;
  width: 50%;
}
.col-form{
  font-size: 2rem;
  padding: 1.2rem;

}
#error_explanation{
  color: red;
  font-size: 2rem;
  font-weight: 500;
}
.session-li{
  float:right;
  margin: 1.2em ;
  margin-right: 2em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem ;
  font-weight: 500;
}
.span{
  color:red;
  font-size: 2rem;
}
.card-body{
  text-align: center;
}